annotated-types
appdirs
attrs
beautifulsoup4
blinker
Brotli
bs4
certifi
cffi
charset-normalizer
cryptography
cssselect
fake-useragent
h11
h2
hpack
hyperframe
idna
importlib_metadata
jsonnet
jsons
kaitaistruct
lxml
lxml_html_clean
outcome
parse
py4j
pyasn1
pycparser
pydantic
pydantic_core
pyee
pyOpenSSL
pyparsing
pyppeteer
pyquery
PySocks
pyspark
requests
requests-html
selenium
selenium-wire
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
typish
urllib3
w3lib
websocket-client
websockets
wsproto
zipp
zstandard
